
body {
  margin: 0;
  background-color: cadetblue;
  font-family: cursive;
}
/*main page*/
.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-flow: column;

}
.container header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  background-color: lightgray;
  height: 50px;
  align-items: center;
}

.container footer {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  background-color: lightgray;
  height: 50px;
  align-items: center;
  padding-right: 10px;
}

header .logo, header .menu {
  margin: auto 10px;
}

.logo img {
  width: 20%;
}

/*block-message component*/
.block-wrapper {
  display: grid;
  grid-template-columns:100;
  grid-template-rows: auto;
  height: 100%;
  background-color: bisque;
}

.block-wrapper span {
  margin: auto auto;
}

.slot-machine-wrapper {
  width: 800px;
  margin: auto;
  border: 30px solid lightgray;
  border-radius: 50px;
  padding: 35px;
  height: 304px;
}

.slot-machine-wrapper .top{
  display: flex;
  justify-content: space-between;
}

.slot-machine-wrapper .bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 9px;
}

.slot-machine-wrapper .bottom button {
  background-color: gold;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
}

.slot-machine-wrapper .bottom button:hover {
  background-color: blueviolet;
  transition: background-color 2s;
 
}

button:disabled,
button[disabled]{
  background-color: #cccccc!important;
  color: #666666;
  cursor: wait!important;
}

.reel {
  padding: 10px;
  border: 5px solid lightgray;
  border-radius: 20px;
  margin: 5px;
}

.reel div:nth-child(1) {
  border-top: 30px solid cadetblue;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom: 30px solid cadetblue;
  border-left: 14px solid cadetblue;
}

.fruit-name {
  text-align: center;
}


